.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./../../assets/images/web-design-best-practices.jpg');
}

.login-card {
  width: 350px;
  height: 370px;
  border-radius: 10px !important;
}

.form-label {
  margin-bottom: 0.5rem;
  margin-top: 25px;
}